@model DevIO.Application.ViewModels.ProviderViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProviderViewModel</h4>
<hr />

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="form-group col-sm-6 col-12">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>

            <label asp-for="Document" class="control-label"></label>
            <input asp-for="Document" class="form-control" />
            <span asp-validation-for="Document" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-6 col-12">
            <label asp-for="TypeProvider" class="control-label"></label>
            <div>
                <input type="radio" value="1" asp-for="TypeProvider" checked="@(Model.TypeProvider == 1)" /> Natural Person
                <input type="radio" value="2" asp-for="TypeProvider" checked="@(Model.TypeProvider == 2)" /> Legal Person
                <span asp-validation-for="TypeProvider" class="text-danger"></span>
            </div>
            <div>
                &nbsp;
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Enabled" /> @Html.DisplayNameFor(model => model.Enabled)
                </label>
            </div>
        </div>
    </div>

    <div>
        &nbsp;
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-info" href="javascript:window.history.back();">Go Back</a>
    </div>
</form>

<div>
    <partial name="_AddressDetail"/>
</div>

<div>
    <hr />
    <h4>Products</h4>
</div>

<div>
    <partial name="../Products/_ProductsList" model="@Model.Products"/>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
