@model IEnumerable<DevIO.Application.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Products List";
}

<h1>@ViewData["Title"]</h1>
<hr/>

<p>
    <a asp-action="Create" class="btn btn-info">New Product</a>
</p>
<partial name="_ProductsList" />
